{%  extends 'layout.html.twig' %}

{% block content %}
    <div id="food-menu">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Gestion Catalogue</h2>
            <p class="lead main text-center">There is no sincerer love than the love of food!</p>

            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel">
                        <p>
                            1 On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions,
                            et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme
                            'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout
                            cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de
                            sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira
                            vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec
                            le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des
                            phrases embarassantes).
                        </p>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel">
                        <p>
                             2 On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions,
                            et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme
                            'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout
                            cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de
                            sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira
                            vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec
                            le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des
                            phrases embarassantes).
                        </p>
                    </div>
                    <div class="tab-pane" id="messages" role="tabpanel">
                        <p>
                            3 On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions,
                            et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme
                            'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout
                            cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de
                            sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira
                            vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec
                            le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des
                            phrases embarassantes).
                        </p>
                    </div>
                    <div class="tab-pane" id="settings" role="tabpanel">
                        <p>
                            4 On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions,
                            et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme
                            'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout
                            cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de
                            sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira
                            vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec
                            le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des
                            phrases embarassantes).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}