
{%  extends 'layout.html.twig' %}

{% block content %}
    <div id="reservation" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Connexion</h2>
            <p class="lead main text-center">Reserve your table &amp; enjoy lorem Ipsum</p>
            <div class="row"></div>
        </div>
    </div>
{%  endblock %}
