{%  extends 'layout.html.twig' %}

{% block content %}
    <div id="food-menu" class="light-wrapper">
        <div id="food-menu">
            <section class="ss-style-top"></section>
            <div class="container inner">
                <h2 class="section-title text-center">Historique Commandes</h2>
                <p class="lead main text-center">There is no sincerer love than the love of food!</p>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <h3><i class="fa fa-map-marker fa-fw"></i>Directions</h3>
                        <p>1 Rue de la justice ,Epinay Sur Seine 93800</p>

                        <h3><i class="fa fa-mobile fa-fw"></i>Contacts</h3>
                        <p>Email: <a href="mailto:chebil.abdelffatteh@gmail.com">chebil.abdelffatteh@gmail.com</a></p>
                        <p>Phone: +33 6 59 11 62 71</p>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <!-- /.services -->
        </div>
    </div><!-- #reservation -->
{%  endblock %}