<footer id="menu" class="dark-wrapper navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="social-bar">
                    <a href="#" class="fa fa-instagram tooltipped" title=""></a>
                    <a href="#" class="fa fa-youtube-square tooltipped" title=""></a>
                    <a href="#" class="fa fa-facebook-square tooltipped" title=""></a>
                    <a href="#" class="fa fa-pinterest-square tooltipped" title=""></a>
                    <a href="#" class="fa fa-google-plus-square tooltipped" title=""></a>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>