{%  extends 'layout.html.twig' %}

{% block content %}
    <div id="food-menu">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Historique Commandes</h2>
            <p class="lead main text-center">There is no sincerer love than the love of food!</p>

            <div class="row">

            </div>
        </div>
    </div>
{%  endblock %}