{%  extends 'layout.html.twig' %}

{%  block content %}
<div id="reservation" class="light-wrapper">
    <section class="ss-style-top"></section>
    <div class="container inner">
        <div class="row">
            <div class="col-md-6">
                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>

    </div>
</div>
{%  endblock %}

